<div id='Message_box'> 
<p>
Please enter your credentials below
</p>
</div>
<div>
<p>Username : 
<input type="text" name="username"> 
</p>
<p> 
Password : 
<input type="password" name="password">
</p>
</div>
<div>
<button>Login</button>
<button>Add User</button>
</div>
